@model bool
<nav class="navigation">
    <ul class="menu-main">
        @if (Model == true)
        {
            <li class="menu-main-item">
                <a class="menu-main-item-link" href="/Admin">Home</a>
            </li>
            <li class="menu-main-item">
                <p class="menu-main-item-link">
                    Data
                </p>
                <ul class="menu-main">
                    <li class="menu-main-item">
                        <a class="menu-main-item-link" href="/Admin/UserDetails">Users</a>
                    </li>
                    <li class="menu-main-item">
                        <a class="menu-main-item-link" href="/Admin/MovieDetails">Movies</a>
                    </li>
                    <li class="menu-main-item">
                        <a class="menu-main-item-link" href="/Admin/StudioDetails">Studios</a>
                    </li>
                    <li class="menu-main-item">
                        <a class="menu-main-item-link" href="/Admin/GenreDetails">Genres</a>
                    </li>
                </ul>
            </li>
            <li class="menu-main-item">
                <p class="menu-main-item-link">
                    Add new
                </p>
                <ul class="menu-main">
                    <li class="menu-main-item">
                        <a class="menu-main-item-link" href="/Movies/Create">Movie</a>
                    </li>
                    <li class="menu-main-item">
                        <a class="menu-main-item-link" href="/Studios/Create">Studio</a>
                    </li>
                    <li class="menu-main-item">
                        <a class="menu-main-item-link" href="/Genres/Create">Genre</a>
                    </li>
                </ul>
            </li>
        }
        else
        {
            <li class="menu-main-item">
                <a class="menu-main-item-link" href="/User">Profile</a>
            </li>
            <li class="menu-main-item">
                <a class="menu-main-item-link" href="/Movies">Movies</a>
            </li>
        }
        <li class="menu-main-item">
            <a class="menu-main-item-link" asp-action="Logout" asp-controller="Home">Log out</a>
        </li>
    </ul>
</nav>
