@model Movies.Web.ViewModel.Movies.CreateMovieViewModel
  <!-- FLOATY BAR -->
  <aside class="floaty-bar">
    <!-- BAR ACTIONS -->
    <div class="bar-actions">
      <!-- PROGRESS STAT -->
      <div class="progress-stat">
        <!-- BAR PROGRESS WRAP -->
        <div class="bar-progress-wrap">
          <!-- BAR PROGRESS INFO -->
          <p class="bar-progress-info">Next: <span class="bar-progress-text"></span></p>
          <!-- /BAR PROGRESS INFO -->
        </div>
        <!-- /BAR PROGRESS WRAP -->
    
        <!-- PROGRESS STAT BAR -->
        <div id="logged-user-level-cp" class="progress-stat-bar"></div>
        <!-- /PROGRESS STAT BAR -->
      </div>
      <!-- /PROGRESS STAT -->
    </div>
    <!-- /BAR ACTIONS -->

    <!-- BAR ACTIONS -->
    <div class="bar-actions">
      <!-- ACTION LIST -->
      <div class="action-list dark">
        <!-- ACTION LIST ITEM -->
        <a class="action-list-item" href="marketplace-cart.html">
          <!-- ACTION LIST ITEM ICON -->
          <svg class="action-list-item-icon icon-shopping-bag">
            <use xlink:href="#svg-shopping-bag"></use>
          </svg>
          <!-- /ACTION LIST ITEM ICON -->
        </a>
        <!-- /ACTION LIST ITEM -->

        <!-- ACTION LIST ITEM -->
        <a class="action-list-item" href="hub-profile-requests.html">
          <!-- ACTION LIST ITEM ICON -->
          <svg class="action-list-item-icon icon-friend">
            <use xlink:href="#svg-friend"></use>
          </svg>
          <!-- /ACTION LIST ITEM ICON -->
        </a>
        <!-- /ACTION LIST ITEM -->

        <!-- ACTION LIST ITEM -->
        <a class="action-list-item" href="hub-profile-messages.html">
          <!-- ACTION LIST ITEM ICON -->
          <svg class="action-list-item-icon icon-messages">
            <use xlink:href="#svg-messages"></use>
          </svg>
          <!-- /ACTION LIST ITEM ICON -->
        </a>
        <!-- /ACTION LIST ITEM -->

        <!-- ACTION LIST ITEM -->
        <a class="action-list-item unread" href="hub-profile-notifications.html">
          <!-- ACTION LIST ITEM ICON -->
          <svg class="action-list-item-icon icon-notification">
            <use xlink:href="#svg-notification"></use>
          </svg>
          <!-- /ACTION LIST ITEM ICON -->
        </a>
        <!-- /ACTION LIST ITEM -->
      </div>
      <!-- /ACTION LIST -->

      <!-- ACTION ITEM WRAP -->
      <a class="action-item-wrap" href="hub-profile-info.html">
        <!-- ACTION ITEM -->
        <div class="action-item dark">
          <!-- ACTION ITEM ICON -->
          <svg class="action-item-icon icon-settings">
            <use xlink:href="#svg-settings"></use>
          </svg>
          <!-- /ACTION ITEM ICON -->
        </div>
        <!-- /ACTION ITEM -->
      </a>
      <!-- /ACTION ITEM WRAP -->
    </div>
    <!-- /BAR ACTIONS -->
  </aside>
  <!-- /FLOATY BAR -->

  <div class="content-grid" style="transform: translate(0px, 0px); transition: transform 0.4s ease-in-out 0s;">
      <!-- SECTION BANNER -->
      <div class="section-banner">

          <!-- SECTION BANNER TITLE -->
          <p class="section-banner-title">Upload a movie</p>
          <!-- /SECTION BANNER TITLE -->
          <!-- SECTION BANNER TEXT -->
          <p class="section-banner-text">Contribute to our movie library</p>
          <!-- /SECTION BANNER TEXT -->
      </div>
      <!-- /SECTION BANNER -->
      <!-- GRID -->
      <div class="grid grid-7-9 medium-space">
          <!-- GRID COLUMN -->
          <div class="account-hub-content">
              <!-- SECTION HEADER -->
              <div class="section-header">
                  <!-- SECTION HEADER INFO -->
                  <div class="section-header-info">
                      <!-- SECTION TITLE -->
                      <h2 class="section-title">Movie Info</h2>
                      <!-- /SECTION TITLE -->
                  </div>
                  <!-- /SECTION HEADER INFO -->
              </div>
              <!-- /SECTION HEADER -->
              <!-- GRID COLUMN -->
              <div class="grid-column">
                  <!-- GRID -->
                  <div class="grid grid-6 centered">

                      <!-- UPLOAD BOX -->
                      <div class="upload-box">
                          <!-- UPLOAD BOX ICON -->
                          <svg class="upload-box-icon icon-members">
                              <use xlink:href="#svg-members"></use>
                          </svg>
                          <!-- /UPLOAD BOX ICON -->
                          <!-- UPLOAD BOX TITLE -->
                          <p class="upload-box-title">Cover photo</p>
                          <!-- /UPLOAD BOX TITLE -->
                          <!-- UPLOAD BOX TEXT -->
                          <p class="upload-box-text">110x110px size minimum</p>
                          <!-- /UPLOAD BOX TEXT -->
                      </div>
                      <!-- /UPLOAD BOX -->
                  </div>
                  <!-- /GRID -->
                  <!-- WIDGET BOX -->
                  <div class="widget-box">
                      <!-- WIDGET BOX TITLE -->
                      <p class="widget-box-title">Details</p>
                      <!-- /WIDGET BOX TITLE -->
                      <!-- WIDGET BOX CONTENT -->
                      <div class="widget-box-content">
                          <!-- FORM -->
                          <form class="form" asp-action="Create">
                              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                              <!-- FORM ROW -->
                              <div class="form-row split">
                                  <!-- FORM ITEM -->
                                  <div class="form-item">
                                      <!-- FORM INPUT -->
                                      <div class="form-input small active">
                                          <label asp-for="Title">Movie Name</label>
                                          <input asp-for="Title" type="text" id="profile-name">
                                          <span asp-validation-for="Title" class="text-danger"></span>
                                      </div>
                                      <!-- /FORM INPUT -->
                                  </div>
                                  <!-- /FORM ITEM -->
                                  <!-- FORM ITEM -->
                                  <div class="form-item">
                                      <!-- FORM INPUT -->
                                      <div class="form-input small active">
                                          <label asp-for="Year">Year</label>
                                          <input asp-for="Year" type="text" id="profile-tagline">
                                          <span asp-validation-for="Year" class="text-danger"></span>
                                      </div>
                                      <!-- /FORM INPUT -->
                                  </div>
                                  <!-- /FORM ITEM -->
                              </div>
                              <!-- /FORM ROW -->
                              <!-- FORM ROW -->
                              <div class="form-row split">
                                  <!-- FORM ITEM -->
                                  <div class="form-item">
                                      <!-- FORM INPUT -->
                                      <div class="form-input small full">
                                          <textarea id="profile-description" name="profile_description" placeholder="Summary"></textarea>
                                      </div>
                                      <!-- /FORM INPUT -->
                                  </div>
                                  <!-- /FORM INPUT -->
                                  <!-- /FORM ITEM -->
                              </div>
                              <!-- /FORM ROW -->
                              <!-- FORM ROW -->
                              <div class="form-row split">
                                  <!-- FORM ITEM -->
                                  <div class="form-item">
                                      <!-- FORM SELECT -->
                                      <div class="form-select">
                                          <label asp-for="Genre">Genre</label>
                                          <select asp-for="Genre" id="profile-status">
                                              @foreach (var item in Model.Genres)
                                              {
                                                 <option value="@item.Id">@item.Name</option>
                                                  
                                              }
                                          </select>
                                          <span asp-validation-for="Genre" class="text-danger"></span>
                                          <!-- FORM SELECT ICON -->
                                          <svg class="form-select-icon icon-small-arrow">
                                              <use xlink:href="#svg-small-arrow"></use>
                                          </svg>
                                          <!-- /FORM SELECT ICON -->
                                      </div>
                                      <!-- /FORM SELECT -->
                                  </div>
                                  <!-- /FORM ITEM -->
                                  <!-- FORM ITEM -->
                                  <div class="form-item">
                                      <!-- FORM INPUT -->
                                      <div class="form-input small active">
                                          <label asp-for="Director">Director</label>
                                          <input asp-for="Director" type="text" id="profile-birthplace">
                                          <span asp-validation-for="Director" class="text-danger"></span>
                                      </div>
                                      <!-- /FORM INPUT -->
                                  </div>
                                  <!-- /FORM ITEM -->
                              </div>
                              <!-- /FORM ROW -->
                              <!-- FORM ROW -->
                              <div class="form-row split">
                                  <!-- FORM ITEM -->
                                  <div class="form-item">
                                      <!-- FORM INPUT -->
                                      <div class="form-input small active">
                                          <label asp-for="StudioName">Studio Name</label>
                                          <input asp-for="StudioName" type="text" id="profile-psid">
                                          <span asp-validation-for="StudioName" class="text-danger"></span>
                                      </div>
                                      <!-- /FORM INPUT -->
                                  </div>
                                  <!-- /FORM ITEM -->
                                  <!-- FORM ITEM -->
                                  <div class="form-item">
                                      <!-- FORM INPUT -->
                                      <div class="form-input small active">
                                          <label asp-for="StudioAddress">Studio Address</label>
                                          <input asp-for="StudioAddress" type="text" id="profile-xbid">
                                          <span asp-validation-for="StudioAddress" class="text-danger"></span>
                                      </div>
                                      <!-- /FORM INPUT -->
                                  </div>
                                  <!-- /FORM ITEM -->
                              </div>
                              <!-- /FORM ROW -->
                              <div class="form-group">
                                  <input type="submit" value="Upload" class="btn btn-primary" style="width:350px;margin-top:20px; align-self:center" />
                              </div>
                          </form>
                          <!-- /FORM -->
                      </div>
                      <!-- WIDGET BOX CONTENT -->
                  </div>
                  <!-- /WIDGET BOX -->
                  <!-- /WIDGET BOX -->
              </div>
              <!-- /GRID COLUMN -->
          </div>
          <!-- /GRID COLUMN -->
      </div>
      <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" style="width:350px;margin-top:20px; align-self:center"/>
      </div>
      <!-- /GRID -->
  </div>