@model Movies.Web.ViewModel.Movies.CreateMovieViewModel

<div class="content-grid" style="transform: translate(0px, 0px); transition: transform 0.4s ease-in-out 0s;">
    <div class="section-banner">
        <p class="section-banner-title">Add new movie</p>
        <p class="section-banner-text">Contribute to our movie library</p>
    </div>
    <div class="grid grid-7-9 medium-space">
        <div class="account-hub-content">
            <div class="section-header">
                <div class="section-header-info">
                    <h2 class="section-title">Movie Info</h2>
                </div>
            </div>
            <div class="grid-column">
                <div class="widget-box">
                    <p class="widget-box-title">Details</p>
                    <div class="widget-box-content">
                        <form method="POST" class="form" asp-action="Create" asp-controller="Movies" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="grid grid-6 centered" style="margin: 30px;">
                                <div class="upload-box">
                                    <svg class="upload-box-icon icon-members">
                                        <use xlink:href="#svg-members"></use>
                                    </svg>
                                    <p class="upload-box-title">Cover photo</p>
                                    <input asp-for="ImageFile" type="file" />
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row split">
                                <div class="form-item">
                                    <input type="hidden" asp-for="@Model.Id" />
                                    <div class="form-input small active">
                                        <label asp-for="Title">Movie Name</label>
                                        <input asp-for="Title" type="text" id="profile-name">
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <div class="form-input small active">
                                        <label asp-for="Year">Year</label>
                                        <input asp-for="Year" type="text" id="profile-tagline">
                                        <span asp-validation-for="Year" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row split">
                                <div class="form-item">
                                    <div class="form-input small full">
                                        <textarea asp-for="Summary" type="text" id="profile-description" placeholder="Summary"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row split">
                                <div class="form-item">
                                    <div class="form-select">
                                        <label asp-for="Genre">Genre</label>
                                        <select asp-items="@Model.GenreOptions" asp-for="Genre.Id"></select>
                                        <span asp-validation-for="Genre.Id" class="text-danger"></span>
                                        <svg class="form-select-icon icon-small-arrow">
                                            <use xlink:href="#svg-small-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <div class="form-input small active">
                                        <label asp-for="Director">Director</label>
                                        <input asp-for="Director" type="text" id="profile-birthplace">
                                        <span asp-validation-for="Director" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row split">
                                <div class="form-item">
                                    <div class="form-select">
                                        <label asp-for="Studio">Studio</label>
                                        <select asp-items="@Model.StudioOptions" asp-for="Studio.Id"></select>
                                        <span asp-validation-for="Studio.Id" class="text-danger"></span>
                                        <svg class="form-select-icon icon-small-arrow">
                                            <use xlink:href="#svg-small-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" style="width:350px;margin-top:20px; align-self:center" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/custom/clientSideValidation.js"></script>