@model Movies.Web.ViewModel.User.UserViewModel

<div class="content-grid" style="margin-top: 1rem">
    <div class="section-banner">
        <img class="section-banner-icon" src="img/banner/newsfeed-icon.png" alt="newsfeed-icon">
        <p class="section-banner-title">Newsfeed</p>
        <p class="section-banner-text">Check what your friends have been up to!</p>
    </div>
    <div class="grid grid-9 mobile-prefer-content">
        <div class="grid-column">
            <div class="quick-post">
                <div class="quick-post-header">
                    <div class="option-items">
                        <div class="option-item active">
                            <svg class="option-item-icon icon-status">
                                <use xlink:href="#svg-status"></use>
                            </svg>
                            <p class="option-item-title">Status</p>
                        </div>
                    </div>
                </div>
                <div class="quick-post-body">
                    <form class="form">
                        <div class="form-row">
                            <div class="form-item">
                                <div class="form-textarea">
                                    <textarea disabled id="quick-post-text" name="quick-post-text" placeholder="Hi @Model.Username! Share your post here..."></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="quick-post-footer">
                    <div class="quick-post-footer-actions">
                        <div class="quick-post-footer-action text-tooltip-tft-medium" data-title="Insert Photo">
                            <svg class="quick-post-footer-action-icon icon-camera">
                                <use xlink:href="#svg-camera"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="quick-post-footer-actions">
                        <p class="button small secondary">Post</p>
                    </div>
                </div>
            </div>
            <div class="loader-bars">
                <div class="loader-bar"></div>
                <div class="loader-bar"></div>
                <div class="loader-bar"></div>
                <div class="loader-bar"></div>
                <div class="loader-bar"></div>
                <div class="loader-bar"></div>
                <div class="loader-bar"></div>
                <div class="loader-bar"></div>
            </div>
        </div>
    </div>
</div>
<div class="popup-picture">
    <div class="popup-close-button popup-picture-trigger">
        <svg class="popup-close-button-icon icon-cross">
            <use xlink:href="#svg-cross"></use>
        </svg>
    </div>
    <div class="widget-box no-padding">
        <div class="widget-box-scrollable" data-simplebar>
            <div class="widget-box-settings">
                <div class="post-settings-wrap">
                    <div class="post-settings widget-box-post-settings-dropdown-trigger">
                        <svg class="post-settings-icon icon-more-dots">
                            <use xlink:href="#svg-more-dots"></use>
                        </svg>
                    </div>
                    <div class="simple-dropdown widget-box-post-settings-dropdown">
                        <p class="simple-dropdown-link">Edit Post</p>
                        <p class="simple-dropdown-link">Delete Post</p>
                        <p class="simple-dropdown-link">Make it Featured</p>
                        <p class="simple-dropdown-link">Report Post</p>
                        <p class="simple-dropdown-link">Report Author</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>